/*-- scss:defaults --*/

$h1-font-size: 2.00em;
$h2-font-size: 1.50em;
$h3-font-size: 1.17em;
$h4-font-size: 1.0em;
$h5-font-size: 1.0em;
$h6-font-size: 0.9em;

$navbar-bg: white;

$body-color: black;
$code-color: $body-color;

$primary: rgb(18, 84, 127);  // darker
// $primary: rgb(26, 94, 173);  // lighter


// /*-- scss:rules --*/

h1.title {
  line-height: 1.1 !important;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  a:hover {
    text-decoration: none !important;
  }
  font-size: 0.95em;
}
.navbar-title {
  font-size: 0.95em;
}

a, a:link {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}

pre, code {
    font-size: 12px !important;
}

span.header-section-number::after {
    // content: ".";
}

.quarto-listing-table td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.quarto-listing-table {
    border-color: rgb(20, 20, 20, 0) !important;
}

.quarto-listing-table th {
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-width: 0px;
    padding-bottom: 3px !important;
}

// body {
//   hyphens: auto;
//   overflow-wrap: break-word;
//   text-rendering: optimizeLegibility;
//   font-kerning: normal;
// }
