/*-- scss:defaults --*/

$h1-font-size: 1.90em;
$h2-font-size: 1.30em;
$h3-font-size: 1.11em;
$h4-font-size: 1.0em;
$h5-font-size: 1.0em;

$navbar-bg: white;
$body-color: black;
$primary: rgb(18, 84, 127);  // darker
// $primary: rgb(26, 94, 173);  // lighter

$code-font-size: 0.85em;
$code-color: $primary;

$link-decoration: underline;
$link-hover-decoration: underline;

// /*-- scss:rules --*/

h1.title {
  line-height: 1.1 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95em;
}
.navbar-title {
  font-size: 0.95em;
}

span.header-section-number::after {
    // content: ".";
}

.quarto-listing-table td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    a:hover {
      text-decoration: underline;
    }
}

.quarto-listing-table {
    border-color: rgb(20, 20, 20, 0) !important;
}

.quarto-listing-table th {
    // border-bottom-color: black;
    border-bottom-width: 1px;
    // border-top-color: black;
    border-top-width: 0px;
    padding-bottom: 3px !important;
}

// body {
//   hyphens: auto;
//   overflow-wrap: break-word;
//   text-rendering: optimizeLegibility;
//   font-kerning: normal;
// }
