/*-- scss:defaults --*/

$h1-font-size: 2.00em;
$h2-font-size: 1.50em;
$h3-font-size: 1.17em;
$h4-font-size: 1.00em;
$h5-font-size: 1.00em;
$h6-font-size: 1.00em;

$navbar-bg: white;
$body-color: black;
$primary: rgb(18, 84, 127);  // darker
// $primary: rgb(26, 94, 173);  // lighter

$code-font-size: 0.78em;

$link-decoration: none;
$link-hover-decoration: underline;

// /*-- scss:rules --*/

h1.title {
  line-height: 1.15 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95em;
}
.navbar-title {
  font-size: 0.95em;
}

span.header-section-number::after {
    // content: ".";
}

.quarto-listing-table {
  a:hover {
    text-decoration: underline;
  }
}

.quarto-listing-table td {
  line-height: 1.15em;
  // padding-top:    8px !important;
  // padding-bottom: 8px !important;
}

body {
  // hyphens: auto;
  // overflow-wrap: break-word;
  // text-rendering: optimizeLegibility;
  // font-kerning: normal;
}