@import "./custom.scss";


/*-- scss:functions --*/



/*-- scss:defaults --*/

$primary: black;
$navbar-bg: white;
$body-color: rgb(20, 20, 20);
$code-color: $body-color;  // inline code text

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6, h7 {
  color: black !important;
}