/*-- scss:functions --*/



/*-- scss:defaults --*/

$primary: SteelBlue;
$h1-font-size: 1.85em;
$h2-font-size: 1.40em;
$h3-font-size: 1.20em;
$h4-font-size: 1.05em;
$h5-font-size: 1.00em;
$h6-font-size: 1.00em;
$figure-caption-font-size: 15.5px !important;
// $body-text-align: justify;

/*-- scss:rules --*/

// p, li {
//     hyphens: auto !important;
// }

h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}

pre, code {
    font-size: 12.0px !important;
}

.quarto-title {
    text-align: left !important;
}

.navbar {
    padding-bottom: 2.5px !important;
    padding-top: 2.5px !important;
    border-bottom-width: 0px !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.math.display .MathJax  {
}

.math.inline .MathJax  {
}

.quarto-listing-container-grid {
    .card-title {
        font-size: 1.3em !important;
    }
    .card-text {
        font-size: 0.95em !important;
    }
    .listing-categories {
        font-size: 0.95em !important;
    }
    .card-text-small {
        .listing-author {
            text-transform: capitalize;
            font-size: 1.05em !important;
        }
        .listing-date {
            text-transform: capitalize;
            font-size: 1.05em !important;
        }
    }
}

.quarto-title {
    .quarto-categories {
        .quarto-category {
            font-size: 1.0em !important;
            border-radius: 0.0px !important;
        }
    }
}

// categories in right column of listing page
.quarto-listing-category-title {
    font-size: 0px !important;
}
.quarto-listing-category{
    font-size: 14px !important;
}

// post preview border
.quarto-grid-item {
    border-radius: 0.0px !important;
}
