@import "./custom.scss";


/*-- scss:functions --*/



/*-- scss:defaults --*/

$primary: black;
$navbar-bg: white;
$body-color: rgb(20, 20, 20);
$code-color: $body-color;  // inline code text
    
/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6, h7 {
  color: black !important;
}

.header-section-number {
    // color: black; 
}

.navbar {
    // padding-bottom: 2.9px !important;
    // padding-top: 2.9px !important;
    // border-bottom-width: 0px !important;
    // font-size: 12px;
}

.navbar-title {
    // fontsize: 16px;
}

.quarto-listing-table {
    border-color: rgb(20, 20, 20, 0) !important;
}

.quarto-listing-table th {
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-width: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    vertical-align: middle;
    color: black;
}
