@import "./custom.scss";


/*-- scss:functions --*/



/*-- scss:defaults --*/

$primary: white;
$navbar-bg: #181818;
$body-bg: #181818;
$body-color: rgb(200, 200, 200);
$code-block-bg: rgb(40, 40, 40);

// /*-- scss:rules --*/

h1, h2, h3, h4, h5, h6, h7 {
    color: white !important;
}