/*-- scss:functions --*/

$h2-font-size: 1.40em;
$h3-font-size: 1.20em;
$h4-font-size: 1.00em;
$h5-font-size: 1.00em;
$h6-font-size: 1.00em;


/*-- scss:defaults --*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

h2, .h2 {
    border-bottom: none !important;
    padding-bottom: 0.0em !important;
}

.navbar {
    padding-bottom: 2.5px !important;
    padding-top: 2.5px !important;
    border-bottom-width: 0px !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


