/*-- scss:defaults --*/

$h1-font-size: 1.90em;
$h2-font-size: 1.40em;
$h3-font-size: 1.15em;
$h4-font-size: 1.02em;
$h5-font-size: 1.0em;
$h6-font-size: 0.9em;

$navbar-bg: rgb(50, 50, 50);


// /*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

h1.title {
    line-height: 1.1 !important;
}

.navbar {
    font-family: "Helvetica Neue";
}

// Code
pre, code {
    font-size: 12px !important;
}

// Section numbers
span.header-section-number::after {
    // content: ".";
}

// Listing table titles
.listing-title {
    text-decoration: underline !important;
}

// Listing table rows
.quarto-listing-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

// Line breaking
body {
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
