/*-- scss:defaults --*/

$h2-font-size: 1.5em;
$h3-font-size: 1.2em;
$h4-font-size: 1.0em;
$h5-font-size: 1.0em;
$h6-font-size: 0.9em;

$navbar-bg: rgb(50, 50, 50);


// /*-- scss:rules --*/

// Make all headers bold
h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

// Remove line and padding after h2 headers
// h2, .h2 {
//     border-bottom: none !important;
//     padding-bottom: 0.0em !important;
// }

// Use sans-serif font for website header
.navbar {
    // padding-bottom: 2.9px !important;
    // padding-top: 2.9px !important;
    // border-bottom-width: 0px !important;
    font-family: "Helvetica Neue";
}

// Smaller code font
pre, code {
    font-size: 13.0px !important;
}
